body {
    margin: 0px;
    font-family: Lato, "Helvetica Neue", sans-serif;
}
#nav-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: white;
}
hr.nav-line {
    margin:0;
    border: none;
    height: 1px;
    background-color: #444444;
}
#nav-bar:hover {
    background: linear-gradient(180deg, rgba(200, 200, 200, 1.0), rgba(200, 200, 200, 0.0));
}
nav ul{
    display: grid;
    grid-template-columns: 8fr 1fr 1fr 1fr;
    margin: 0px;
    padding: 5px 0px 5px 30px;
    justify-content: space-around;
    align-items: center;
}
nav li{
    display: inline;
    margin-right: 2rem;
}

a.nav-link {
    color: #444444;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#header-img{
    height: 2em;
    width: auto;
    position: relative;
}
#header-title {
    font-weight: 800;
    letter-spacing: 1px;
}
.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "starter-words starter-words starter-words starter-pic starter-pic starter-pic"
    "video video video video video video"
    "feature feature feature feature feature feature"
    "pricing pricing pricing pricing pricing pricing"
    "footer footer footer footer footer footer";
}
#form {
    position: relative;
    width: 80%;
    margin-left: 5rem;
}
.form-group {
    display: block;
}
#email {
    position: relative;
    left: 0;
    height: 50px;
    border-radius: 70px;
    padding: 0 0 0 20px;
    font-size: 14px;
    width: 95%;
    color: #555;
}
#submit {
    text-transform: uppercase;
    position: absolute;
    border-radius: 0 70px 70px 0;
    height: 100%;
    top: 0;
    right: 0;
    font-size: 14px;
    font-weight: 600;
    background: linear-gradient(45deg, #0050e0 0%, #813bf1 20%, #813bf1 30%, #0050e0 100%);
    display: inline-block;
    text-align: center;
    padding: 14px 20px;
    letter-spacing: 2px;
    font-stretch: extra-condensed;
    color: white;
}
#starter {
    grid-area: starter-words;
    align-self: center;
    width: 90%;
    height: auto;
    justify-self: end;
}

h1 {
    font-size: 200%;
    margin-bottom: 5px;
    margin-left: 5rem;
    text-align: left;
}

#product-desc {
    font-size: 0.75em;
    width: 70%;
    margin-top: 10px;
    text-align: left;
    margin-left: 5rem;
    letter-spacing: 1px;
}

#starter-img {
    grid-area: starter-pic;
    width: 100%;
    height: auto;
    justify-self: end;
}

#product-video {
    grid-area: video;
    align-self: center;
    justify-self: center;
    padding: 5em;
}
#video-text {
    text-align: center;
}
#video-desc {
    justify-self: center;
    align-self: center;
    text-align: justify;
    margin-left: 6em;
    margin-right: 6em;
}
#pricing {
    grid-area: pricing;
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    position: center;
    background: #003049;
    color: ghostwhite;
    padding: 2em;
}
.product-img {
    width: 50%;
    height: auto;
}
.pricing-line {
    width: 70%;
    height: 1px;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4);
}
.product-info {
    font-weight: 200;
}
.pricing-product-title {
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.price {
    font-size: larger;
    font-weight: 300;
}
.buy {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5%;
    font-size: larger;
    font-weight: 300;
    padding: 10px 10px 10px 10px;
}
#features {
    grid-area: feature;
    background-image: url("imgs/cityfadedwhite.png");
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: center;
    padding: 5em;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#mini-labelled {
    width: 60%;
    height: 60%;
    margin-top: 4em;
}
#features-text {
    text-align: center;
    margin-left: 2em;
}
#features-title {
    margin-right: 2em;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    color: #003049;
    font-size: larger;
}
.feature-titles {
    color: #003049;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: large;
}
.feature-blurbs {
    padding-inline-start: 20px;
    font-weight: 400;
}
.feature-bullet {
    padding: 5px 0px;
}
#features-info {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin: 1em;
    text-align: left;
    padding: 1em;
}

.site-footer {
    grid-area: footer;
}
.foot-container{
    background: lightgrey;
    max-height: 245px;
    display: flex;
    padding: 40px 60px;
    justify-content: space-around;
    font-size: 11px;
    font-weight: 500;
    color: #444444;
}
.foot-desc {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.foot-desc-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.3em 0 0 0;
}
p.footer-p-title{
    margin: 0;
    font-weight: 700;
    letter-spacing: 0.5px;
}
p.footer-p {
    margin-top: 0.5em;
    line-height: 1.5em;
}
.foot-cols {
    display: flex;
    width: 60%;
    justify-content: space-around;
}
.footer-col-header {
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.col-links {
    display: flex;
    flex-direction: column;
    padding: 0 0 1em 0;
}
a.col-links {
    color: #444444;
    text-decoration: none;
}
a.col-links:hover {
    text-decoration: underline;
    cursor: pointer;
}