.container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    justify-items: center;
    background: mediumpurple;
}
#nav-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
nav ul{
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 5px 0px 5px 30px;
    justify-content: space-around;
}
nav li{
    display: inline;
    margin-right: 2rem;
}
#starter-img {
    width: 100%;
    height: auto;
}

#form {
    max-width: 275px;
    padding: 5px;
    width: 100%;
}

#pricing {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}

#header-img{
    height: 1em;
    width: auto;
    position: relative;
    top: 0.25em;
}
@media (min-width: 300px) {
    .container {
        background: black;
    }

}